<h1> Hello RockHound, <%= @user.name %></h1>

<h2> Take a look at your:</h2> 
<%= link_to 'Collection', collection_path(@user)%> 


<h2> Add a new rock specimen: </h2>
<%= link_to 'New Rock', new_rock_path(@user) %><br>

<h2> View all our members rock specimens: </h2>
<%= link_to 'All Rock Specimens', rocks_path(@user) %><br>



<h2>You have commented on the following rock specimens:</h2>



<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type = submit value = 'Log Out'>
<% end %>