<%= form_for @rock do |f| %>

    

    <label> Name of rock specimen: </label><br>
    <%= f.text_field :name %><br>

    <label> Description of rock specimen: </label><br>
    <%= f.text_area :description %><br>

    <label> Location rock specimen was found: </label><br>
    <%= f.text_field :location %><br>

    <%= f.submit %>
<% end %>
