<%= form_for @rock do |f| %>

    <% if @user.errors.any? %>
    <div id= "error_explanation" >
            <h2>
            <%= pluralize(@user.errors.count, "error") %>
            prohibited this user from being created:
            </h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
    </div>
    <% end %>

    <label> Name of rock specimen: </label><br>
    <%= f.text_field :name %><br>

    <label> Description of rock specimen: </label><br>
    <%= f.text_field :description %><br>

    <label> Location rock specimen was found: </label><br>
    <%= f.text_field :location %><br>

    <%= f.submit %>
<% end %>
