<%= form_for @rock do |f| %>

    <% if @rock.errors.any? %>
        <div id= "error_explanation" >
            <h2>
            <%= pluralize(@rock.errors.count, "error") %>
            prohibited this rock from being created:
            </h2>

            <ul>
            <% @rock.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>
        <br/>


    <%= f.hidden_field :user_id %>

    <%= f.label 'Name:' %><br>
    <%= f.text_field :name %><br>
<br>
    <%= f.label 'Description:' %><br>
    <%= f.text_area :description %><br>
<br>
    <%= f.label 'Location:' %>:<br>
    <%= f.text_area :location %><br>
<br>
    <%= f.submit %>
<% end %>