<% if current_user %>
<h2> Hello <%= current_user.name %>, take a look at all our RockHound member's specimens!</h2>

<%= link_to 'Home', home_path %>
<% end %>
<br>
<br>
<% counter = 1 %>
<% @rocks.each do |rock| %>
<h3> <%= counter %> . </h3>
    <h4>Name: <%= rock.name %> </h4>
    <h4>Location: <%= rock.location %> </h4>
    <h4>Description: <%= rock.description %> </h4>
    <%= link_to 'Comment on this ' + rock.name, rock_path(rock)%>
    <% counter += 1 %>
<% end %>
<br/>
<br>
