<h2> Viewing <%= @rock.name %> </h2>
<p>
    <h3>Description: <%= @rock.description %></h3>
    <h3>Location: <%= @rock.location %></h3>
</p>
     <%= link_to 'Edit', edit_rock_path(@rock)%> 
    or 
    <%= link_to 'Delete', rock_path(@rock), method: :delete, data: {confirm: 'Are you sure?'}%><br>
<br>
<br>
    <%= link_to 'Home', home_path(@user) %>
<br>
<br>

<h3>Comment on this rock:</h3>

<%= form_for @rock.comments.build do |f| %>
    <%= f.hidden_field :rock_id %>

    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :name, 'Your Name' %>:
        <%= user_fields.text_field :name %>
    <% end %>

    <p>
        <%= f.label :content, "New Comment" %>:
        <%= f.text_area :content %>
    </p>
    
    <%= f.submit %>
<% end %><br>


<h3>Comments:</h3>
    <% @rock.comments.each do |comment| %>
        
        <%= comment.content %>
    <% end %>