<h2> Viewing <%= @rock.name %> </h2>
<p> 
    <h3>Found by: <%= @rock.user.name %>
    <h3>Description: <%= @rock.description %></h3>
    <h3>Location: <%= @rock.location %></h3>
</p>
<%if current_user && current_user.id == @rock.user.id %>
     <%= link_to 'Edit', edit_rock_path(@rock)%> 
    or 
    <%= link_to 'Delete', rock_path(@rock), method: :delete, data: {confirm: 'Are you sure?'}%><br>
<% end %>
<br>
<br>
    <%= link_to 'Home', home_path(@user) %>
<br>
<br>

<%= form_for @rock.comments.build, :as => :comment, :url => rock_comments_path(@rock) do |f| %>
    <%= f.hidden_field :rock_id %>

    <% if current_user %>
        <%= f.hidden_field :user_id, value: current_user.id %>
    <% else %>

    <h3> Sign up as a RockHound member to comment on this specimen! </h3>

        <%= f.fields_for :user, User.create do |user_fields| %>
            <%= user_fields.label :name, 'Name:' %>
            <%= user_fields.text_field :name %>
            <%= user_fields.label :password, 'Password:' %>
            <%= user_fields.password_field :password %>
            <%= user_fields.label :password_confirmation, 'Password Confirmation:' %>
            <%= user_fields.password_field :password_confirmation %>
        <% end %>
    <% end %>

    <h3>Comment on this rock:</h3>

    <p>
        <%= f.label :content, "New Comment" %>:
        <%= f.text_area :content %>
    </p>
    
    <%= f.submit %>
    
<% end %><br>


<h3>Comments:</h3>
    <% @rock.comments.each do |comment| %>
        <%if comment.id != nil %>
            <%=@comment_user[comment.user_id]%> said
            <%= comment.content %><br>
            <br>
        <% end %>
<% end %>